* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 30px;
    height: 30px;
    transition: 0.09s;
}

.icon:hover {
    cursor:pointer;
    transform: scale(1.1);
}

button {
    border: none;
    outline: none;
    background: black;
    color: white;
    padding: 10px 30px;
    font-size: 24px;
}

button:hover {
    background: rgb(36, 36, 36);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    width: 480px;
}

.grid:hover { cursor: crosshair; }

.cell {
    /* width: 30px;
    height: 30px; */
    box-sizing: border-box;
    /* border: 1px solid rgb(177, 177, 177); */
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.color-container {
    display: flex;
    justify-content: space-between;
    height: auto;
    gap: 20px;
}

.color {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    transition: 0.1s;
}
.color:hover {
    cursor: pointer;
    transform: scale(1.1);
    /* border: 2px solid black; */
}

.color#red { background: red; }
.color#green { background: green; }
.color#blue { background: blue; }
.color#yellow { background: rgb(188, 188, 4); }
.color#green { background: green; }
.color#purple { background: purple; }
.color#pink { background: rgb(255, 69, 100); }
.color#black { background: rgb(0, 0, 0); }